<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP APP | Login Page</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">

</head>
<body>
    <div class="login-container">
    <div class="login-card">

        <h2>Welcome Back 👋</h2>
        <p class="subtitle">Please login to continue</p>

        {% if message %}
           <p style="color:#008000" class="subtitle">{{ message }}</p>
        {% endif %}

        <form action="/perform_login", method="post">
            <div class="input-group">
                <label>Email</label>
                <input type="email" placeholder="Enter your email" required name="user_email">
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" placeholder="Enter your password" required name="user_password">
            </div>

            <button type="submit">Login</button>
        </form>

        <p class="register-text">
            Not a member?
            <a href="/register">Register here</a>
        </p>

    </div>
</div>
</body>
</html>